<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimove.sdk.optimove_sdk">

    <application
        android:fullBackupContent="@xml/optimove_backup_rules"
        android:dataExtractionRules="@xml/optimove_backup_rules_api31"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".OptipushNotificationOpenActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Optimove.Optipush.Transparent"/>

        <receiver
            android:name=".main.app_update_listener.AppUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".optipush.events_dispatch_service.NotificationOpenedEventDispatchService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".main.app_update_listener.AppUpdateService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>