<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimove.android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:fullBackupContent="@xml/optimove_backup_rules"
        android:dataExtractionRules="@xml/optimove_backup_rules_api31"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="com.optimove.android.optimobile.OptimobileInitProvider"
            android:authorities="${applicationId}.optimobileinitprovider"
            android:exported="false" />
        <activity
            android:name="com.optimove.android.optimobile.PushOpenInvisibleActivity"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent"
            android:exported="false" />
        <activity
            android:name="com.optimove.android.optimobile.RequestNotificationPermissionActivity"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@style/Optimove.Optipush.Transparent"
            android:exported="false" />
    </application>

    <!-- https://developer.android.com/training/package-visibility/use-cases#check-browser-available -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="market" />
        </intent>
    </queries>
</manifest>