<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.optimove.sdk.optimovemobilesdk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.optimove.sdk.optimove_sdk.DEEPLINK"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="com.optimove.sdk.optimovemobilesdk"
                    android:pathPrefix="/main_screen"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity android:name=".PromoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.optimove.sdk.optimove_sdk.DEEPLINK"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="com.optimove.sdk.optimovemobilesdk"
                    android:pathPrefix="/promo_screen"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.optimove.sdk.custom-notification-icon"
            android:resource="@drawable/notification_tray_trans"/>
        <meta-data
            android:name="com.optimove.sdk.custom-notification-color"
            android:resource="@android:color/holo_red_light"/>

    </application>

</manifest>