<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.optimove.sdk.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:fullBackupContent="@xml/sdk_tester_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:fullBackupContent">


        <activity android:name="com.optimove.sdk.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--This Activity can be reached through Optipush Deep Links-->
        <activity
            android:name="com.optimove.sdk.demo.deep_links.DeepLinkActivity"
            android:parentActivityName="com.optimove.sdk.demo.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!--The host must match the app's package-->
                <!--The pathPrefix must match the screen's name as defined on the Optimove site-->
                <data
                    android:host="REPLACE.WITH.THE.APP.PACKAGE"
                    android:pathPrefix="/REPLACE_WITH_A_CUSTOM_SCREEN_NAME"
                    android:scheme="http"/>
            </intent-filter>

            <!-- You must also add support for HTTP(S) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!--The host must match the app's package-->
                <!--The pathPrefix must match the screen's name as defined on the Optimove site-->
                <data
                    android:host="REPLACE.WITH.THE.APP.PACKAGE"
                    android:pathPrefix="/REPLACE_WITH_A_CUSTOM_SCREEN_NAME"
                    android:scheme="https"/>
            </intent-filter>
        </activity>


        <!--Customize Optipush Notification-->
        <meta-data
            android:name="com.optimove.sdk.custom-notification-icon"
            android:resource="@drawable/send_icon"/>
        <meta-data
            android:name="com.optimove.sdk.custom-notification-color"
            android:resource="@android:color/holo_red_light"/>

    </application>

</manifest>